TABLE.monthDates TD {
	font-family:courier;
	font-size:10px;
	text-align:center;
}

.txtbox	{
	font-family:courier;
	font-size:10px;
	color:#104A7B;
	background: #FFFFFF;
	border:1px solid #336699;
}
	
.popupPanel	{
	font-family:courier;
	font-size:10px;
	background: #FFFFFF;

}
	
.calendarPanel	{
	font-family:courier;
	font-size:10px;
	background: #FFFFCC;
	border:1px solid #336699;
	padding: 3px;
 }
 
.todayPanel	{
	font-family:courier;font-size:10px;
	font-weight:bold;
	color:#104A7B;
	background: #FFFFFF;
	text-align:center;
	border-bottom: 1px solid #336699;
	border-right: 1px solid #336699;
	border-left: 1px solid #336699;
 } 
 
.selectedDayPanel	{
	font-family:courier;font-size:10px;
	font-weight:bold;
	color:#104A7B;
	background: #FFFFFF;
	text-align:center;
	border-bottom: 1px solid #336699;
	border-right: 1px solid #336699;
	border-left: 1px solid #336699;
 }  
 
 .todayLink	{
 	font-family:courier;font-size:10px;
 	font-weight:bold;
 	color:#104A7B;
	background: #FFFFFF;
	width: 100%;
	text-align:center;
	text-decoration:underline;
	cursor:pointer;cursor:hand;
 } 
 
 .monthHeader {
 	font-family:courier;
 	font-size:12px;
 	font-weight:BOLD;
 	color:#000000;
 	text-align:center;
 }

 
.holidayWeek {
 	font-weight:BOLD;
 	font-family:courier;
 	font-size:12px;
 	text-align:center;
}
 
.holiday {
 	font-family:courier;
 	font-size:12px;
 	text-align:center;
 }
 
 .holidaySelectable {
	font-family:courier;
	font-size:12px;
	text-decoration:none;
	cursor:pointer;cursor:hand;
 } 

.monthYearTraversorBtn	{
	font-family:courier;font-size:10px;
	background: #104A7B;
	color: #FFFFFF;
	font-weight:bold;
	border: 0px solid #336699;
	cursor:pointer;cursor:hand;
}
	
.monthYearTraversor	{
	font-family:courier;font-size:10px;
	background: #104A7B;
	color: #FFFFFF;
	font-weight:bold;
	
}	
	
.calendarDate {
	font-family:courier;
	font-size:12px;
	text-decoration:none;
	cursor:pointer;cursor:hand;
  }
  
.currentDate {
	font-family:courier;
	font-size:12px;
	text-decoration:none;
	cursor:pointer;cursor:hand;
  }